{% extends "Frame/framepage.html" %}
{% block content %}

<div class="col12">
  <div id="content">
    <div class="titlebox"  align="center">Select Your Ward</div>
    <br/>
    <div class="row myrow">
    <form action="reginward" method="POST">

      <div class="col-12"  align="center">
        <span class="texttule">Select Ward :</span>
        <select name="wid" id="wid" onchange="keepWardId()" required>
          <option value="">----------Select----------</option>
          {% for row in wd%}  <!--getting wards name from database-->
          <option value="{{row[0]}}">{{row[1]}}</option>
          {%endfor%}
        </select>
          <input type="text" name="wardname" id="wardname" style="display:none;">
          <input type="submit" value="Submit">
        </div>
      </form>
    </div>
  </div>
  </div> <!--- Content --->
</div><!--- col-12 --->
<br>
<script>
function keepWardId()
{
  $('#wardname').val($("#wid option:selected").html());
}
</script>

{% endblock %}
